{% include 'navbar.html' %}
{% block content %}
{% endblock content %}

<link href="/static/signin.css" rel="stylesheet">
 
    <body class="text-center">
        <center>
            <main class="form-signin" >
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h1 class="h3 mb-3 fw-normal">User Registration Form</h1>
                    <br>
                 
                
                    <div class="form-floating">
                        <input type="text" class="form-control" name="First_Name" placeholder="Enter First Name">
                    </div>
                

                    <div class="form-floating">
                        <input type="text" class="form-control" name="Last_Name" placeholder="Enter Last Name">
                    </div>
               

                    {% comment %} <div class="form-floating">
                        <input type="date" class="form-control" name="Date_of_Birth" placeholder="Date_of_Birth">
                    </div> {% endcomment %}
               

                    <div class="form-floating">
                        <input type="text" class="form-control" name="Email_ID" placeholder="Enter Email ID">
                    </div>
               

                    {% comment %} <div class="form-floating">
                        <input type="text" class="form-control" name="Mobile_No" placeholder="Mobile_No">
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" name="Balance" placeholder="Balance">
                    </div> {% endcomment %}
            
                    <div class="form-floating">
                        <input type="password" class="form-control" name="Password" placeholder="Enter Password">
                    </div>
            
                    {% comment %} <div class="form-floating">
                        <input type="text" class="form-control" name="Address" placeholder="Address">
                    </div> {% endcomment %}

                    <div class="form-floating">
                    <label> -- Select User Role -- </label>  
                        <select class="form-control" name="Users_Role" required>  
                            <option value = "Buyer"> Buyer </option>  
                            <option value = "Seller"> Seller </option>
                        </select> 
                    </div>

                    <br>       
                        <button class="btn btn-lg btn-primary" type="submit">Register</button>
                    <br>  

                    <div class="checkbox mb-3">
                        <label>
                          <p>Already Register User Click on -  <a href="http://127.0.0.1:8000/">Login</a></p>
                        </label>
                    </div>

                </form>
            </main>
            {% include 'messages.html' %}
        </center>
    </body>